@import "../variables-site/variables";

form {
  &.wpcf7-form {
    br {
      display: none;
    }

    p {
      position: relative;
      margin: 0;

      ~ p {
        margin-top: 1.6rem;
      }

      span {
        &.ajax-loader {
          position: absolute;
          top: 8px;
        }
      }

      &:has(span.wpcf7-spinner) {
        position: relative;
      }

      .wpcf7-spinner {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    label {
      display: block;
      margin-bottom: 15px;
      font-weight: 500;
    }

    span {
      &.required {
        color: $color-hover;
      }

      &.wpcf7-form-control-wrap {
        display: block;

        input,
        textarea {
          height: auto;
          width: 100%;
          display: block;
          border: 1px solid #e9ebed;
          background-color: #f8f8f8;
          padding: 4px 12px;
          color: #202020;

          &:focus {
            border-color: #ff335f;
          }
        }

        textarea {
          height: 100px;
        }
      }
    }

    .wpcf7-submit {
      color: #fff;
      padding: 5px 25px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      background: $background-primary;
    }
  }
}