.element-text-between-images {
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    .image {
      flex: 0 0 7.4rem;
    }

    .title {
      margin: 0;
      font-size: 1.8rem;
      color: #e41207;
    }
  }
}