.element-contact-form-7 {
  color: #ffffff;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #222222;

  .warp {
    position: relative;
    z-index: 1;

    .list {
      .item {
        display: grid;
        grid-gap: 1.2rem;
        grid-template-columns: 3.3rem 1fr;
        align-items: center;

        ~ .item {
          margin-top: .8rem;
        }
      }
    }
  }

  &.style-1 {
    font-size: 1.4rem;
    padding: 1.2rem;
    box-shadow: rgb(0, 0, 0) 5px 15px 20px -15px;

    .warp {
      .thumbnail-box {
        max-width: 22rem;
        margin: 0 auto 1.6rem;
        border: 1px solid #ffffff;
        box-shadow: rgb(255, 255, 255) 0 15px 20px -15px inset;
      }

      .heading {
        text-align: center;
        color: #ffffff;

        @media (min-width: 992px) {
          font-size: 3rem;
        }

        @media (max-width: 991px) {
          font-size: 2rem;
        }
      }

      .list {
        margin-bottom: 1.6rem;

        .item {
          font-weight: 700;
          text-decoration: underline;
        }
      }

      .wpcf7-form {
        margin-top: 2rem;

        .grid {
          display: grid;
          grid-gap: .4rem;

          @media (min-width: 992px) {
            grid-template-columns: 16rem 1fr;
          }

          @media (min-width: 768px) and (max-width: 991px) {
            grid-template-columns: 11rem 1fr;
          }

          @media (min-width: 576px) and (max-width: 767px) {
            grid-template-columns: 16rem 1fr;
          }

          @media (max-width: 575px) {
            grid-template-columns: repeat(2, 1fr);
          }
        }

        input {
          &:not([type="checkbox"]) {
            border-radius: .8rem;
          }
        }

        .list-check {
          padding: 2rem .3rem;
          color: #000;
          border-radius: 1rem;
          background-color: #ffffff;

          .wpcf7-form-control-wrap {
            margin-bottom: 0;
          }

          .wpcf7-list-item {
            margin: 0;
            font-size: 1.4rem;

            label {
              margin: 0;
              display: grid;
              grid-gap: .3rem;
              grid-template-columns: 1.5rem 1fr;
            }

            .wpcf7-list-item-label {
              font-weight: 700;
            }
          }

          .wpcf7-checkbox {
            display: grid;
            grid-gap: .6rem;

            @media (min-width: 1199px) {
              grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 576px) and (max-width: 767px) {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }

        .wpcf7-submit {
          padding: 1rem .6rem 1rem 2.8rem;
          display: block;
          width: 100%;
          font-size: 1.3rem;
          color: #000;
          font-weight: 700;
          border-radius: 1.2rem;
          background-color: #ffde59;
        }

        .wpcf7-not-valid-tip {
          color: #ffffff;
        }

        p {
          &:has(.wpcf7-submit) {
            &:before {
              position: absolute;
              content: "\f019";
              top: 0;
              left: 2rem;
              font-weight: 900;
              font-size: 2.4rem;
              color: #e41207;
              font-family: "Font Awesome 6 Free", serif;
              animation-name: fadeInDown;
              animation-delay: 0s;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              transform: translateY(-50%);
              animation: fadeInDown 1s ease forwards infinite;
            }
          }
        }
      }

      .note {
        margin-top: 1.6rem;
        font-style: italic;
      }
    }
  }

  &.style-2 {
    position: relative;
    padding: 3rem;
    height: 100%;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .warp {
      .heading {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 2.5rem;
        color: #ffffff;
      }

      .list {
        max-width: 23rem;
        margin: 0 auto 2rem;
      }

      .wpcf7-form {
        p {
          &:has(.wpcf7-submit) {
            margin-top: 3rem;
          }
        }

        .wpcf7-form-control {
          color: #000000;
          background-color: #ffffff;

          &.wpcf7-checkbox {
            padding: 1.2rem;
            display: flex;
            gap: 0.2rem 1rem;
            flex-wrap: wrap;

            .wpcf7-list-item {
              margin: 0;
              flex: 0 0 auto;

              label {
                margin: 0;
                display: grid;
                grid-gap: .6rem;
                grid-template-columns: 1.6rem 1fr;
              }
            }
          }
        }

        .wpcf7-submit {
          padding: 1rem 1.2rem;
          display: block;
          width: 100%;
          color: #ffffff;
          font-size: 1.8rem;
          font-weight: 700;
          background-color: #ff0404;
        }
      }

      .note {
        margin-top: 1.6rem;
        font-size: 1.5rem;

        a {
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }
  }
}