.element-text-flash {
  &__warp {
    .title {
      margin: 0;
      font-size: 2.8rem;
      color: #e41207;
    }
  }
}

.text-flash {
  animation: text-flash 1s linear infinite;
}

@keyframes text-flash {
  50% {
    opacity: 0;
  }
}